# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# Environment variables
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Build files
dist/
build/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
